{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="row jumbo">
    <div class="col-md-6"><img class="jumbo_img" src="https://media.istockphoto.com/vectors/diverse-people-team-with-social-chat-bubbles-vector-id1162593055?k=20&m=1162593055&s=612x612&w=0&h=6rxh29OpFhvyigNWFyf69IX9G20p6oLcsC5da7E2eC4=" alt=""></div>
    <div class="col-md-6 ">
        <h2  class="header-content"   >We are a tight-knit community that will enhance your life experience.</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
<a href="{% url 'neighborhood_form' user.id %} "><button class="join">Join a Neighborhood</button></a>
            </div> 
            <div class="col-md-6">
                <a href="{% url 'business_form' user.id %}  "><button class="registerb">Register your Business </button></a>
            </div>      
        </div>
        
        
        
        
    </div>
    
</div>
<div class="row info">
    <div class="col-md-6">
        <div class="header-content"><h1>About us</h1>
            <hr>          
        <h3 >My Neighborhood is a community of people that support each other to promote an all rounded life. We create awareness for local businesses and therefore create an environment for growth and development.</h3></div>
        

    </div>         
    <div class="col-md-6">
        <img class="about_img" src="https://media.istockphoto.com/vectors/set-of-flat-shop-building-facades-icons-vector-illustration-for-local-vector-id878415250?k=20&m=878415250&s=612x612&w=0&h=_ZO1tgTDyN9JZDAqRE4MoXz1_71tzfbajN3KOiXMhQs=" alt="">
    </div>
</div>
<div class="row contacts">
    <h1>Contact us</h1>
    <hr>
    <div class="socials">
        <a href="https://www.instagram.com/torimakena/"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/Tori_makena"><i class="bi bi-twitter"></i></a>
        <a href="https://github.com/tori-bot"><i class="bi bi-github"></i></a>
        <a href="https://web.facebook.com/tori.makena.98"><i class="bi bi-facebook"></i></a>
        <a href="https://wa.me/message/QVIDZP3PKX2XP1"><i class="bi bi-whatsapp"></i></a> 
        <a href="mailto:makenavictoria1@gmail.com"><i class="bi bi-envelope"></i></a> 
        </div>

        <div class="footer">
            <a>tori-bot   &copy 2022   Victoria Makena</a>
        
        </div>
</div>
{% endblock %}