{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
   <h1>{{neighborhood.name}}</h1>
   <hr>
<div class="row">
    <div class="col-md-2 hood">
        <img class="profilepic" src="{{profile.profile_picture.url}} " alt="">
    </div>
    <div class="col-md-4 hood">
        <h3>Hello {{user.username}}. </h3>
        <h4>Welcome to {{neighborhood.name}}. </h4>
        <p>We value community and our lives are centred around love and support of one another.</p>
    </div>
    <div class="col-md-6">
        <img class="landmark" src="{{neighborhood.landmark.url}}" alt="" >
    </div>

</div> 
</div>

{% endblock %}