body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.user_link{
    text-decoration: none;
    color: grey;
}
.user_link:hover{
    color: teal;
}
.brand{
    color:teal;
}
.navbar-brand{
    color:teal;
    font-size: large;
}
}
.register-img{
    object-fit: cover;
    height: 40vh;
}
.register{
    padding-top:20vh;
}
.join{
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 1vh 2vw;
    border: 1px solid teal;
}
.join:hover{
    background-color: teal;
    color: white;
}
.registerb:hover{
    background-color: teal;
    color: white;
}
.registerb{
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 1vh 2vw;
    border: 1px solid teal;
}
.pretty_button{
    background-color: transparent;
    color: black;
    padding: 1vh 1vw;
    border-radius: 5px;
    border: 1px solid teal;
}
.pretty_button:hover{
    background-color: teal;
    color:white;
}
/* home page */
.jumbo{
    
}

.header-content{
    margin-top: 30vh;
    text-align: center;
    margin-bottom: 5vh;
}
.arrow{
    text-align: center;
    font: size 4em;
}
.jumbo img{
    /* object-fit: cover; */
    height: 100vh;
}
.about_img{
    height: 100vh;

}
.contacts{
    background-color: #05668D;
    color: white;
    text-align: center;
    margin-top: 5vh;
}
.socials{
    margin-bottom: 5vh;
}
.socials a{
    text-decoration: none;
    color: white;
    margin: 1vh 2vw;
    font-size: 2em;
}
/* profile */
.profilepic{
    object-fit: cover;
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
.card_image{
    object-fit: cover;
    width: 100%;
}